@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Games DB System</h1>
    <div class="mb-3">
        <a class="btn btn-sm btn-primary" asp-page="/Add">Add Game</a>
        <a class="btn btn-sm btn-primary" asp-page="/gamesList">Games List</a>
    </div>
</div>
